body {
    font-family: 'Roboto Mono', monospace; 
    height: 100vh;
    background-color: black;
}

.hero {
    background-image: linear-gradient(45deg, black , #0066ff , black);
}

.hero p {
    color: #0066ff;
    text-align: left;
    text-shadow: 3px 3px black;
}

.is-primary{
    background-color: whitesmoke;
    color: #0066ff;
    width: 200px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    color: #0066ff;
    margin-left: 2%;
    margin-top: 2%;
}

.findBtn {
    color: greenyellow;
    background-color: transparent;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    margin-top: 30px;
    
}

.findBtn:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

span {
    content: "\0024";
  }