body {
    font-family: 'Roboto Mono', monospace; 
    height: 100vh;
    background-color: black;
}

.hero {
    background-image: linear-gradient(45deg, black , #0066ff , black);
}

.hero p {
    color: #0066ff;
    text-align: left;
    text-shadow: 3px 3px black;
}

.is-primary{
    background-color: whitesmoke;
    color: #0066ff;
    width: 200px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: .5%;
}

h2 {
    color: #0066ff;
    margin-left:1%;
    margin-top: 1%;
}

.findBtn {
    color: greenyellow;
    background-color: transparent;
    justify-content:space-around;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    margin-left: 1%;
    display: flex;
    padding: 4px;
    
}

.findBtn:hover {
    color: greenyellow;
    border: 1px solid greenyellow;
    background-color: #0066ff;
}

span {
    content: "\0024";
    
  }

  .box {
      background-color: black; 
      border: none;
      margin: none;
  }