body {
    font-family: 'Roboto Mono', monospace; 
    height: 300vh;
    background-color: black;
}

.hero {
    background-image: linear-gradient(45deg, black , #0066ff , black);
}

.hero p {
    color: #0066ff;
    text-align: left;
    text-shadow: 3px 3px black;
}

.is-primary{
    background-color: whitesmoke;
    color: #0066ff;
    border: 1px solid #0066ff;
    width: 200px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: .5%;
}

h2 {
    color: #0066ff;
    margin-left:1%;
    margin-top: 1%;
}

.findBtn {
    color: greenyellow;
    background-color: transparent;
    justify-content:space-around;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    margin-left: 1%;
    display: flex;
    padding: 4px;
}

#list1,
#list2,
#list3,
#list4,
#list5 {
    color:greenyellow;
}

#list1:hover,
#list2:hover,
#list3:hover,
#list4:hover,
#list5:hover {
    color: whitesmoke;
}


.findBtn:hover {
    color: greenyellow;
    border: 1px solid greenyellow;
    background-image: linear-gradient(45deg, black , #0066ff , black);
}

span {
    content: "\0024";
    
  }

.box {
      background-color: black; 
      border: none;
      margin: none;
  }

.news{
    background-color: #000000;
    padding: 1%;
    color:#0066ff;
    border: 1px solid #0066ff;
    border-radius: 1%;
    min-height: 300px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
a {
    font-size: larger;
}

.footer {
    background-color: transparent;
    color: greenyellow;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;   
    padding: none; 

}

.card {
    display: inline-block;
    background-color: transparent;
    border:1px solid greenyellow;
    width: 150px;
    margin: 1%;
    padding: 1px;
    cursor: pointer;
    font-size: 12px;
    
}

.card:hover {
    
    border: 1px solid #0066ff;
    background-image: linear-gradient(45deg, black , #0066ff , black);
}

.card-header-title{
    color: greenyellow;
    justify-content: center;
    padding: 1px;
}

li {
    color: greenyellow;
    text-align: right;
}

